site_name: Create: Structures Overhaul Wiki
site_description: Official documentation for the Create: Structures Overhaul mod
site_url: https://denmoth.github.io/create_structures_overhaul/
repo_url: https://github.com/Denmoth/create_structures_overhaul
repo_name: GitHub

theme:
  name: material
  logo: logo.png
  favicon: logo.png
  palette:
    - scheme: default
      primary: teal
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.suggest
    - toc.integrate
    - content.code.copy
    - content.tabs.link
    - header.autohide
    - content.action.edit

plugins:
  - search
  - i18n:
      default_language: en
      languages:
        en: English
        ru: Русский
        ua: Українська
        de: Deutsch
        fr: Français
        es: Español

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Denmoth/create_structures_overhaul
    - icon: fontawesome/brands/discord
      link: https://discord.gg/BCXqNfPnSh
